.grid {
  position: relative;
  height: 100%;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 6.8vw 1fr 1.5fr 2.2fr 4.45vw;
  grid-template-rows: 50px 1fr 2fr 1fr 30px;
  background-image: url(/src/assets/backgrounds/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  overflow: hidden;
}

.greeting {
  grid-column: 2 /3;
  grid-row: 2 /3;
  align-self: end;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.2ch;
}

.textfield {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  z-index: 5;
}

.textfield__paragraph {
  font-size: 95px;

  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 4px;
}
.textfield__paragraph span {
  font-weight: bold;
}

.floatingHuge {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 4 / -1;
  top: 45%;
  max-width: 250px;
  animation: scaling 5s ease-in-out infinite alternate;
}
.floatingBristle {
  position: absolute;
  z-index: 10;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  max-width: 120px;
  justify-self: end;
  align-self: end;
  top: 150px;
  animation: spin 30s linear infinite;
}
.floatingSmall {
  position: absolute;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  top: -40px;
  left: 30px;
  animation: floatDiagonal 5s linear infinite alternate;
}
.floatingSmall2 {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  max-width: 70px;
  align-self: center;
  justify-self: center;
  top: 10px;
  animation: floatOnX 7s ease-in-out infinite alternate;
}

.staticLong {
  position: absolute;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  right: 40%;
  top: 20px;
}

.staticPinkBig {
  position: absolute;
  grid-column: 3 / -1;
  grid-row: 2 / 4;
  align-self: center;
  top: 70px;
  left: 120px;
  transform: scale(0.9);
  z-index: 5;
}
.staticPinkSmall {
  position: absolute;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  align-self: center;
}

.staticBlur {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: end;
  right: -20px;
}

.staticSemi {
  position: absolute;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  justify-self: center;
  align-self: center;
  max-width: 100px;
}

.cta {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  bottom: 45px;
  align-self: end;
  justify-self: center;
  z-index: 10;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes floatDiagonal {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  0% {
    transform: translate(20px, 30px);
  }
}

@keyframes scaling {
  from {
    transform: scale(1) translate(-10px, -10px);
  }
  to {
    transform: scale(1.2) translate(10px, 10px);
  }
}
@keyframes floatOnX {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  0% {
    transform: translateX(0px);
  }
}
