.grid {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 6.8vw 1fr 1.5fr 2.2fr 4.45vw;
  grid-template-rows: 50px 1fr 2fr 1fr 30px;
  background-image: url(/src/assets/backgrounds/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  overflow: hidden;
}

.greeting {
  grid-column: 2 /3;
  grid-row: 2 /3;
  align-self: end;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.2ch;
}

.textfield {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  z-index: 5;
}

.textfield__paragraph {
  font-size: 90px;

  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 8px;
}
.textfield__paragraph span {
  font-weight: bold;
}

.floatingHuge {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 4 / -1;
  top: 45%;
  max-width: 250px;
}
.floatingBristle {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  max-width: 120px;
  justify-self: end;
  align-self: end;
  top: 150px;
}
.floatingSmall {
  position: absolute;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  top: -40px;
  left: 30px;
}
.floatingSmall2 {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  max-width: 70px;
  align-self: center;
  justify-self: center;
  top: 10px;
}

.staticLong {
  position: absolute;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  right: 40%;
  top: 20px;
}

.staticPinkBig {
  position: absolute;
  grid-column: 3 / -1;
  grid-row: 2 / 4;
  align-self: center;
  top: 70px;
  left: 120px;
  transform: scale(0.9);
  z-index: 5;
}
.staticPinkSmall {
  position: absolute;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  align-self: center;
}

.staticBlur {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: end;
  right: -20px;
}

.staticSemi {
  position: absolute;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  justify-self: center;
  align-self: center;
  max-width: 100px;
}

.cta {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  bottom: 60px;
  align-self: end;
  justify-self: center;
}
