.grid {
  height: 100%;
  min-width: 100vw;
  position: relative;
  display: grid;
  grid-template-columns: 6.8vw 1fr 2fr 1fr 4.45vw;
  grid-template-rows: 50px 1.5fr 1fr 1fr 30px;
  background-image: url(/src/assets/backgrounds/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  overflow: hidden;
}

.keyMessage {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  justify-self: start;
  align-self: end;
  margin-bottom: 32px;
}
.heading {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.brand {
  font-size: 6em;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 1;
  margin-top: 16px;
}
.brand span {
  font-weight: bold;
}

/* middle details section */

.details {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 40px;

  height: max-content;
  margin-left: 70px;
  justify-self: center;
}
.noteTable {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  place-items: center;
  width: 400px;
  height: 265px;
  border-radius: 40px;
  background-color: #f3f2fd;
  padding: 60px;
}

.noteTable::before {
  position: absolute;
  align-self: start;
  margin-top: -35px;
  left: 110px;
  content: '';
  width: 70px;
  height: 70px;
  background-image: url(/src/assets/images/pagethree/table.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.noteTable p {
  margin-left: 50px;
  font-size: 1.3rem;
}

.noteCalendar {
  position: relative;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: grid;
  place-items: center;
  padding: 40px;
  height: 150px;
  border-radius: 40px;
  background-color: #f3f2fd;
}
.noteCalendar::before {
  position: absolute;
  align-self: start;
  justify-self: start;
  left: 40px;
  margin-top: -35px;

  content: '';
  width: 70px;
  height: 70px;
  background-image: url(/src/assets/images/pagethree/calendar.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.noteCalendar p {
  font-size: 1.3rem;
}

.ctaArea {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  align-self: end;
}

/* bottle and bubbles floating stuff */
.bottleAndBubbles {
  margin-left: -20px;
  grid-column: 2 / 4;
  grid-row: 2 / -1;
  max-width: 250px;
  align-self: end;
}
