.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 6.8vw 1fr 1.5fr 2.2fr 4.45vw;
  grid-template-rows: 50px 1fr 1fr 1fr 30px;
  background-image: url(/src/assets/backgrounds/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  overflow: hidden;
}

.bottleAndBubbles {
  max-width: 350px;
  grid-column: 2 / 4;
  grid-row: 2 / -1;
  outline: 1px solid red;
  align-self: end;
}

.bottleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.bottle__img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 10;
  align-self: end;
  max-width: 220px;
  height: auto;
}

.redSmall {
  position: absolute;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  max-width: 35px;
  left: 30px;
}
.blueSmall {
  position: absolute;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  max-width: 40px;
}


