.grid {
  position: relative;
  height: 100vh;
  min-width: 1024px;
  display: grid;
  grid-template-columns: 6.8vw 1fr 1.5fr 2.2fr 4.45vw;
  grid-template-rows: 50px 1fr 2fr 1fr 30px;
  background-image: url(/src/assets/backgrounds/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  overflow: hidden;
}

.message {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: end;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
}

.champion {
  position: absolute;
  max-width: 800px;
  grid-column: 3 / -1;
  grid-row: 2 / 4;
  left: 100px;
  justify-self: center;
  align-self: center;
}

.medium {
  position: absolute;
  max-width: 450px;
  grid-column: 4 / -1;
  grid-row: 1 / 4;
  align-self: center;
  top: 120px;
  left: 30px;
}

.medium2 {
  position: absolute;
  max-width: 550px;
  grid-column: 4 / -1;
  grid-row: 3 / 5;
  justify-self: end;
  align-self: center;
  left: 60%;
  bottom: 80px;
}

.weakling {
  position: absolute;
  grid-column: 4 / -1;
  grid-row: 2 / 3;
  max-width: 300px;
  justify-self: end;
  align-self: center;
  right: 20px;
  top: 40px;
}

.weakling2 {
  position: absolute;
  grid-column: 4 / -1;
  grid-row: 4 / 5;
  max-width: 250px;
  justify-self: end;
  right: -50px;
  bottom: 80px;
}
